body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* header */

.intro {
    background-image: linear-gradient(rgba(66, 66, 66, 0.3),
            rgba(66, 66, 66, 0.3)),
        url("https://source.unsplash.com/1600x900/?smartphone");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.intro-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav {
    margin-left: auto;
  } */

.intro-nav ul {
    display: flex;
    padding-right: 2em;
}

.intro-nav li {
    /* display: inline-block; */
    list-style: none;
}

.intro-nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-right: 1px solid white;
}

.intro-nav li:last-child a {
    border: none;
}

.intro-text {
    padding: 1em 0 4em;
}

h1 {
    font-family: "Quicksand", sans-serif;
}

header p {
    margin-top: 0;
}

/* main */
main {
    display: flex;
}

.sidebar {
    width: 30%;
}

.sidebar li {
    list-style: none;
    /* display: flex;
    align-items: center; */
}

.sidebar li:before {
    vertical-align: top;
    display: inline-block;
    margin-top: 12px;
    content: "\25B6";
    font-size: 8px;
}

.sidebar a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
    display: inline-block;
}

section {
    display: none;
    width: 70%;
    border-left: 1px solid black;
    padding: 0 2em 2em;
    margin: 2em 0;
}

section:target {
    display: block;
}

.gallery {
    display: flex;
    /* align-items: flex-start; */
}

#gallery figure {
    width: 33.33%;
    padding-bottom: 33.33%;
    height: 0;
    margin: 0;
    position: relative;
}

#gallery img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.event {
    display: flex;
    box-shadow: 3px 3px 8px #5858582e;
}

.event img {
    width: 350px;
}

.card-content {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event header,
.event footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#news p {
    text-indent: 50px;
}

#news p::first-letter {
    font-size: 3em;
    font-weight: bold;
}

#news p::first-line {
    font-style: italic;
}