body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul li {
    display: inline-block;
}

h1 {
    display: inline-block;
    margin-left: 10%;
}

header nav {
    display: inline-block;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

header a:hover {
    border-bottom: 1px solid black;
}

/* header {
  } */

.bg-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),
            rgba(255, 0, 0, 0.384)),
        url("img/street.jpg");
    color: white;
    background-size: cover;
    padding: 2em;
}

.bg-img h2,
.bg-img p {
    width: 50%;
    margin-left: 10%;
}

.bg-img h2 {
    font-size: 120px;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 1rem;
}

.subtitle {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0.25em;
    padding: 0 3em;
    display: inline-block;
}

.page-nav {
    text-align: center;
}

.page-nav a {
    text-decoration: none;
    color: red;
    border: 1px solid rgb(204, 204, 204);
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgb(168, 168, 168);
}

.page-nav a:hover {
    border: none;
    color: white;
    background-color: red;
}

.page-nav span {
    background-color: red;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 8px;
    vertical-align: top;
    margin-top: 5px;
}

.page-nav a:hover span {
    background-color: white;
}

img {
    vertical-align: middle;
    width: 33%;
}